*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: clamp(325px, 23rem, 380px) 1fr;
    gap: 10px;
}

.unassigned-container {
    border: 2px solid red;
    padding: 1em;
    /* height: 100vh; */
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.rooms-container {
    border: 2px solid red;
    padding: 1rem;
    height: 100vh;
}

/* #employees-container {
    border: 1px solid green;
} */

.employee-card{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 0.75em;
    align-items: center;
    padding: 4px 10px;
    /* justify-content: center; */
    border: 1.5px solid black;
    border-radius: 10px;
}


.profile-icon {
    width: 3rem;
    height: 3rem;
    /* border: 1px solid red; */
}

.edit-view-delete {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* border: 1px solid red; */
}
.edit-view-delete img {
    width: 1.3em;
    height: 1.3em;
}

form {
    display: flex;
    width : 100%;
    flex-direction: column;
    gap: 0.5em;
    z-index: 10000;
    /* position: fixed; */
    border: 2px solid red;
}

form div {
    display: flex;
    flex-direction: column;
}
