*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 28% 70%;
    gap: 2%;
}

.unassigned-container {
    border: 2px solid red;
    padding: 1em;
    /* height: 100vh; */
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.rooms-container {
    border: 2px solid red;
    padding: 1rem;
    height: 100vh;
}

/* #employees-container {
    border: 1px solid green;
} */

.employee-card{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 0.75em;
    align-items: center;
    padding: 4px 10px;
    /* justify-content: center; */
    border: 1.5px solid black;
    border-radius: 10px;
}


.profile-icon {
    width: 3rem;
    height: 3rem;
    /* border: 1px solid red; */
}

.edit-view-delete {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    /* border: 1px solid red; */
}
.edit-view-delete img {
    width: 1.3em;
    height: 1.3em;
    /* position: absolute; */
    /* position: absolute; */
    /* right: 0; */
}