*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: clamp(325px, 23rem, 380px) 1fr;
    gap: 10px;
    font-family: Arial, sans-serif;
    padding: 1rem;
}

.unassigned-container {
    border: 2px solid black;
    padding: 2em 1.5em;
    /* height: 100vh; */
    gap: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* enable-scrolling */
    max-height: 100vh;
    overflow-y : auto; 
    background-color:rgb(250, 250, 250);
}

.rooms-container {
    border: 2px solid red;
    padding: 1rem;
    height: 95vh;
}

#employees-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.employee-card{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 0.75em;
    align-items: center;
    padding: 4px 10px;
    /* justify-content: center; */
    border: 1.5px solid black;
    border-radius: 10px;
}

#search-input,
#add-btn{
    padding: 10px;
    border-radius: 5px;
    border-width: 1.5px
    /* border: none; */
}
#add-btn {
    background-color: rgb(39, 39, 39);;
    color: white;
    width: 5rem;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
}
#search-input {
    width: 14.5rem;
    border-color: rgb(39, 39, 39);;;
}
.search-add {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.unassigned-container h2 {
    text-align: center;
    font-size: 1.7rem;
}


#role-filter {
    padding: 0.5em 1em;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    align-self: flex-end;
    width: 66%;
}

.role-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top : 1rem;
    margin-bottom: 15px;
}

.profile-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* border: 1px solid red; */
}

.edit-view-delete {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* border: 1px solid red; */
}
.edit-view-delete img {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}


form {
    /* display: none; */
    display: flex;
    width : 100%;
    flex-direction: column;
    gap: 1.7rem;
    background-color:rgb(250, 250, 250);
}

label 
{
    font-size: 1.3em;
    font-weight: 500;
}

#role-input 
,form input{
    border: none;
    border-bottom: 2px solid rgb(118, 116, 116);
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
}
/* form input[] */

form input::placeholder, 
#search-input::placeholder,
form select {
    font-size: 1rem;
    color: rgb(133, 131, 131);
}
form div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#add-experience-btn,
#confirm-cancel button {
    padding: 0.8rem 1rem;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

#confirm-cancel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap : 7.7rem; */
}


#cancel-btn,
#confirm-btn {
    width: 8rem;
    background-color: #007bff;

}

#cancel-btn {
    background-color: #818181 !important;
    color: #000;    
}

#confirm-btn {
    background-color: #007bff !important;
    color: #fff;
}


.experience-form {
    display:  flex;
    gap: 1.7em;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    position: relative;
}

.experience-form h3 {
    font-size: 1.2em;
    font-weight: 600;
}
.delete-experience {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 2em;
    cursor: pointer;
}