*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 20em 1fr;
    gap: 10px;
    font-family: Arial, sans-serif;
    padding: 1rem;
}

.unassigned-container {
    border: 1.7px solid black;
    padding: 2em 1.5em;
    /* height: 100vh; */
    gap: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* enable-scrolling */
    max-height: 95vh;
    overflow-y : auto; 
    background-color: #f5f5f5;
    position: relative;
}

.random-shuffle-div {
    display: flex;
    gap: 5%;
    margin-bottom: 10px;
    cursor: pointer;
}
.random-shuffle-div img {
    width: 2.4em;
    height: 2.4em;
}

.random-shuffle-div button {
    font-size: 1.1em;
    font-weight: 500;
    border: none;
    background: none;
    cursor: pointer;
}


.rooms-container {
    border: 2px solid red;
    padding: 1rem;
    height: 95vh;
    background-color: #f5f5f5;
}

#employees-container,
.room-employees-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.employee-card{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 0.75em;
    align-items: center;
    padding: 4px 10px;
    /* justify-content: center; */
    border: 1.5px solid black;
    border-radius: 10px;
    cursor: move;
}

#search-input,
#add-btn{
    padding: 10px;
    border-radius: 5px;
    border-width: 1.5px
    /* border: none; */
}
#add-btn {
    background-color: rgb(39, 39, 39);;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
#search-input {
    border-color: rgb(39, 39, 39);;;
}
.search-add {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap:1em;
}

.unassigned-container h2 {
    text-align: center;
    font-size: 1.7rem;
}


#role-filter {
    padding: 0.5em 1em;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    align-self: flex-end;
}

.role-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top : 1rem;
    margin-bottom: 15px;
}

.profile-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* border: 1px solid red; */
}

.edit-view-delete {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* border: 1px solid red; */
}
.edit-view-delete img {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}


form {
    display: none;
    /* display: flex; */
    width : 100%;
    flex-direction: column;
    gap: 1.7rem;
    background-color:rgb(250, 250, 250);
}

label 
{
    font-size: 1.1em;
    font-weight: 500;
}

#role-input 
,form input{
    border: none;
    border-bottom: 2px solid rgb(118, 116, 116);
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
}
/* form input[] */

form input::placeholder, 
textarea::placeholder,
#search-input::placeholder,
form select {
    font-size: 1rem;
    color: rgb(133, 131, 131);
}
form div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#add-experience-btn,
#confirm-cancel button,
#confirm-cancel-rooms button{
    padding: 0.8rem 1rem;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

#confirm-cancel,
#confirm-cancel-rooms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#cancel-btn,
#confirm-btn,
#cancel-btn-room, #confirm-btn-room{
    width: 8rem;
    background-color: #007bff;
}

#cancel-btn,
#cancel-btn-room{
    background-color: #818181 !important;
    color: #000;    
}

#confirm-btn,
#confirm-btn-room {
    background-color: #007bff !important;
    color: #fff;
}


.experience-form,
.experience-view {
    display:  flex;
    gap: 1.7em;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    position: relative;
}

.experience-form h3 {
    font-size: 1.2em;
    font-weight: 600;
}
.delete-experience {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 2em;
    cursor: pointer;
}

textarea {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

input:focus,
textarea:focus {
    outline: none;
}

#form-profile-image {
    width: 4rem;
    height: 4rem;
    border: 1px dashed gray;
    border-radius: 50%;
    margin-top: 5px;
}

/* right section  */
.rooms-container {
    padding : 10px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5em;
    border: 1.7px solid black;
    border-radius: 10px;
}

#reception-room {
    grid-column: 1 / 7;
    grid-row: 1 / 3; 
    border: 3px solid black;
    border-radius: 0.5em;
    padding : 0.5vw; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    gap: 5px;
    position: relative;
}

#conference-room {
    grid-column: 1 / 7;
    grid-row: 3 / 8; 
    border: 3px solid black;
    border-radius: 0.5em;
    padding : 0.5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    gap: 5px;
    position: relative;
}

#server-room {
    grid-column: 9 / 12;
    grid-row: 1 / 3; 
    border: 3px solid black;
    border-radius: 0.5em;
    padding : 0.5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    gap: 5px;
    position: relative;
}

#security-room {
    grid-column: 12 / 15;
    grid-row: 1 / 3; 
    border: 3px solid black;
    border-radius: 0.5em;
    padding : 0.5vw;
    position: relative;
}

#staff-room {
    grid-column: 9 / 12;
    grid-row: 5 / 8; 
    border: 3px solid black;
    border-radius: 0.5em;
    padding : 0.5vw;
    position: relative;
}

#archive-room {
    grid-column: 12 / 15;
    grid-row: 5 / 8; 
    border: 3px solid black;
    border-radius: 0.5em;
    padding : 0.5vw;
    position: relative;
}

.rooms-container h4 {
    font-size: 15px;
    text-align: start;
    margin-bottom: 5px;
}

.room-card {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    
}

.employee-room-card {
    position: relative;
    aspect-ratio: 3/4;
    flex: 0 0 min(80px, calc(33.333% - 0.34em));
    max-width: min(80px, calc(33.333% - 0.34em));
    max-width: 80px;
    max-height: 80px;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAPEA8QDxAPDw8PDw8PDw8PDw8PDQ8PFRUWFhURFRUYHSkgGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGxAQFy0dHyYrKy0tKy0tLS0tKy0vLSstLS0rLS0tLSstLS0tLS0tLS0tKy0rLS0rLS0tKy0tLS0tLf/AABEIALcBEwMBIgACEQEDEQH/xAAcAAADAAMBAQEAAAAAAAAAAAAAAQIDBQYEBwj/xAA+EAACAgECAwYEAwcDAQkAAAAAAQIRAwQhEjFBBQZRYXGBEyKRoQcywRRCUmJysdEj4fGyFSQzU5KTosLw/8QAGQEBAQEBAQEAAAAAAAAAAAAAAAECAwQF/8QAIREBAQACAwACAwEBAAAAAAAAAAECEQMhMRJBIjJREwT/2gAMAwEAAhEDEQA/AOvoCgo+S+ilIdDABAMAhBQxlEhQ6HQE0IuhUBAUVQgJJZUnW75I4nt38QcOLijpo/HyJ8KbfDgT8eLr7fUY43LyFsnrswPjWq7+doTpfFx403f+liSW/RuTdGfSfiNrcUn8RYdRG+Tj8OS947fY6/4Zuf8Ati+vBRzPdnvrptc/hq8Oav8AwsjXz/0P9705+R06OVll1XSWXuChUWFEVjaCjJQqIMVBRlaJaAx0KjI0KgrG0KjJRNAY2hNGVoTRFYqFRkoVARQjJQEGxoBgbZKgoYwiaHQDKJodDAoQUMAFQUUICGSzIznO/PbP7Ho8klfxMqeHE1+7OUX878kk39BJvpLdduN7/d7pZZT0umlWGLrNli2nllycU1+4nz8fTnwlNXyS67NP19dzc9g93c2sXFCLcI/Km38t1yOq0/4drgy8c7m4tYoxVY4za6t7tXXgeqZ4YdOF488+3zmealulypPr7+X+TDLMv4Y+Dpczo9N3Szzk45VwcLt9XfKm+W/6G51PcjHaak4xrdJb36ly58MUx/5s8pt8+jNpqSbTTUk06aa5NPoz6/8Ah93x/a0tNqH/AN6hG4y2SzwXX+tdV15+NfO+0+wnibSbl4bGpwzyYZxnByxzhJSjNbOLXUtmPLj0n5cWXb9JodHO9yO8X/aGm+JJKObHL4eaMeXFVqSXRNb/AF8DozxWWXVeqWWbhBQx0NCaCiqEQQ0JosTQVjaJaMjQmiDHQUU0IKloVFUOgJoRdAB7QoBlZIYAUFBQxlCFQwQCodDABCaGAEtHyv8AFfX/ABM+HTbxjih8SbfJym0l9FH7n1Zo+X/i7ov9TS5UopShkxyk+dxacV/8pHTi/Zjk/V0HcTSqOlhXVt3VWdTCkaHR6PIsGDFppxxQWOPHla4pVX7q8W3dmj7Zl+yU49rTx5Gqam/iKVPwbaT9CSbu3S+adhqcSe9bmj10HVHr7uavJlxXPNDUqr+JGKi/SkvU5LvH3lyvJ8DSPEsl8L46e/gYuHyvTcyuPrU9tpuT/wAnJ9qRfO3tszedo4NZV5dRppS58EJJtfRGqzYW8cuKotb+R34p8ftx5r855p2f4Lv5tculad1/7h9RSPnH4N6SsWrzc+PJjxKuXyR4n/1n0iJz5f3rPF+kCQ6GkMw6JaE0UDRBjoGUyWQTRLRYmFRRLRYqIJoKKodATQFUMD1AMRpDABgIYBRQAMAEA6CgFQDoKAmjlu+/Y71unzx4lF6fhy4lXOajJu34NOjq6PDmxOU8ipOMoKM07tqnVe739hLqzSyS728mi0vHgjB3w8EYum47cKXNGl7R7o6efDwY1CcZRkpt5JXJXTact2re78WdR2fJcEUn0K1D4Gq3bNTzcq771prezez46bF8OPJRa823vZ8a1cni188iim4ZpPhktnv1R9unqeFz48c3FQcnk+Xgj5JJ8V+1HxXvJrP2jV5JYYST4ko7NKSXU1x9VOTudvTqu7zyp5sSUeN8cnLLKck3z3o1mqxuMMkOb4fvdHZuEsWmuaqTir38jl1wy47W1O/qMc7fVy48Z51t1n4W9oZIS/YZRhwLFPUKUV8ym5q1J9dnXsj6SkfOvwqg3l1MpVccOGEer4XKbW/okfR6M5epZJ1BQ6BIqjKIoRbRNAS0Sy6E0QQyWU0JkEBRQgpUNIdDSAVAVQBGcYUMoQwoKABgBQAFAkAAMKAQBQ6AQmvX2dFCoDWYfknKPRN15IjtLWfDTk3CEY/myTvhj0XLmenWxUZJ9Jf3RhXzc9/USt+9uc1vbMHupZq/icOHHKvLzOI7c7SvIstSwzktlwXGuiex9I7SwTqsaSV+Ce/ucP3j0GSVSyTbklyfDt5JLkWXHfbrdXH8Wv1HauWWJ48yVpXGSupIz9yuxoazO8eXieJQlOfC3FuqSV+sk/Y0ubO5VD6n0j8MtLFYs81+Zzjjb8ElxV9X9jV6jjbt0PYfYGDRKfwVK8nDxSnLibq6XRdWbSgUS0jDOySHQ0goImhNF8ImgrG0S0ZGiWgMbRLMjRLRBADoEiBUUkCRSRdBUBVAUZQsYEAMQwEFlAUIBgArGAAAWAAKxgOMW9luEePX/up9b/Q5rtjtDLpJKXA8mBv5pJW8f9Xl5m6jro53cFJRg5RUpcNT/mjTfyvzKzQTVSV+vJon26Txzc+9uJ45VKCddWmvbyOM7w9sxkrUk5Vuk+Z03eHu7pWnk+HGD/lVW/Q4bN2VU6ilvy23N4/Hfa35SdPBpnNybaW/LlsfVvwwf+hni+ayxf1jX/1OBXYzgrfubbu/3lfZvxH8L4sZ8PFFS4JLhveLpp7N7fc1nlMvGMcLjj2+upFHl0GvxZoxcJK5RjPhe00pK1aPZRzZTYxgAiWyxAQyWWyWgqGSZGhAY6FRkoVEEopDopIoVAVQAMYwMhAMCgAAKAAGAgAyRxt89l9yyW+JbJ6xlRi3/noZ4Y1/yOS6HXHi/rjeb+Jjp99/9n7mSMXHhuNb1tyd7FQyuqasri2a6HbHGTxyyyt9c3DSfClKH8MuH26famZJPozbdoaVzqcK+JFU48lkj4X0fh9PNafIrtbqS/NGSqS9UebPC416+Pk+Ua7tLRwmvmNFj7Oxqbm96OjyQbXieDX4nGPJKzjXfG/Tmu0/mbSRrtB3elqsyhv8NfNll4Q6r1fJet9GdjoewJ5Um1wxfOcl08l1Om0PZ2PDHhgqXO3zk/Fnbh48r39OXPzYyanrWx7O4XGtns9tuFLkkbDBlyR5viXnz+p6eAfAem4SvFM7Bjzxfk/BmU888CZCc4cna8H0OOXF/HXHl/r1iZihqU+fyvz5GY5WWeussviWSyxMioEUJhUgMYCSKoEighAUACCgAy0EAAVAFAMBAMzaPHxSXgt2ak3dJbqbZcGk5N8+foZZ4j1yRg1P5b/hd+x7JjJOnjuVt7YuFrpY00/+DKnsRKJUTwoHEYrAmjFnwRn+dKVcm18y9HzRmsQNvDDs3HHkpe8m/wC5f7HC0+CLa5Nq6PUSyfGfxfnlftjeMiUDOTJFZeVxHRlkjGFLhCULK8CrGh482K0YsE5Rai3s+V9D16naEpeDX9zXSlxO+idL6mcsdxrHKytkDIhLbfn1HZ5LNPXOw0KigIJGkA0AJFJAgAYABUTQwCzDYFQwAQAFlQUbLs/HS83v7dDwY420l1dGzwyqU1/Copfc78M7248160yqV8XrRjzK4y81IjFk/Nz/ADP+wSncV5/qmel5zxL5V6IGi48vJbETZBDIZTZEghhZEpbr0JU9wMlCrdmSK2XrZiwu+J+dAOiWW/ckDHJGOSMsjFN0FRe/oSnvL/8AcxZVfL8yMEM1tdHsmgie3M3BpYtfmyOMfd9TDgjUYr+VD70zUcONPZKbb9En/knRu1H+iP1aC/T2Yt4+mz/QqiNG7eReEIv3uX+Czzc01dvRw3rRodk2Ozk7KSHRKKCGOhWNBKdCGBRAxDObYAAKAAAI9fZ2O5N+H92VjyVnmvGKf0/5M+hxtQXnv/g1uqycOqxX+9xR+qv9D24T44x5M7vKvZCVTmvSX2onDL7Sr26EZ5cOWD6STj7rciEvncfGpL1Ts2w9yyKMLfTl5t9A5LfmzyZZ/Pgh6zfstj1c9/Zf5AmRjnzSMtbnnVuTfhsETJ/O/QjE7ZM5fO/QrRK5Ae2ey9jzaHePq2/uZtW6T9DBoPy/UDPIxsyMxSCok9zFkZWV017nl1mSoOX8LT++4BGfzxXizVrV8cs0o88WoeJ15cL/ALSM7z3PbpUl6dTS93NTGWp7Rw9Y6lZV52kn/wBKJSRff3Uvi02Jc8uSOP2bXF9rN5pY0pP2XotjQ9uQWTUabLLZY8s35Koc/uje5Z8GJeLV11dhfqMvZD4pZpeaivb/AHbMtE9h46x+bbb9S8i3Zz5ZvF04rrIhoQzzPSZSIKQFjRKGGaoBAUQACo5uigEAQyoRtpeLog9XZ+O5X/CvuzeE3ZGcrqbbNeHhsc13jycGXBPwy4/u2v1OkRynfh1iclzjUvo0z25ePJj62var+RTXODUvbqefBk48qaeyi5N+VV+qM2OSyY1/PBfdHO6KU8epxQvbinB+cFCTr7L6EtJNuh0Xz5pSf7saXkbP9Dw9m46Um+rPWzUZpvZN+R5Iy5LxZk1c6j6sw6VcUr6IDzamVZZf0o9nZ0NrNdqneVm40+OohGLWy2Zj0L2DWvoTpdkB65GB82Zq2PHGd8XqBGpfI8uZ8UMkfGLMvaGVRSb6tI8OLL81eUrCtbppuM48XnFPxNH3dy8Pa+uTdLgk34coP9TZdoTcZ4q65P0ON7155afV6v4cnDJnx4eGcatKXApfaL36Ga6SOr74Z+FaTHjlFvJqFDJwtNxtqTi65OmjodXLjdcoxSj6+RznYmKGaUMvCvg6OHwtPD/zNRKuPI/Gtl68TOneLhSXXm34tiM3rpsuz41Dw2MebmZ9IqiYsyLZuaSXV2xjRI6PE9qholFAUiiEikghgABEWAAYdCbCwAqHZs9DjqF/xb+wAduCfk4816Z3LY5zvLj+JjnHxjJfYYHpy8efH15uxtVemwvqoRT9tjw9ozcdTp5x5/GSa8VLZ/ZsQGMr+LeM/J12GSrYy8wA6Obxdpz3jEz6ZKML8UMANVpVx5pPwN4gAFa7WS3RUNgAD0wexrFOsrXjuAAeft6F4tvFGu7Oy8UL61TAB9r9NfrMfFmwrwlxfRf7nH95tM9Xk1OfHy0uCHFyTnJZeW/8rl/6UAHLO6dsJt0v4fpvTYVLpKc35u/+TrskbYwNzxyz9bDDtExZQA0ywMYAePk/avXx/rAmUmAGWtqRViAB2AAXSbf/2Q==");
    cursor: move;
}



.delete-employee-room  { /*remove btn*/
    cursor: pointer;
    width: clamp(20px, 1.7vw, 30px);
    height: clamp(20px, 1.7vw, 30px);
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}

.add-employee-room {
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0px;
    margin-left: 10px;
}

.employee-room-card .name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: clamp(11px, 0.7rem, 20px);
    padding: 1px 0px;
    border-radius: 2px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}

.normal-room .employee-room-card {
    flex: 0 0 calc(50% - 0.5em) !important; 
    max-width: min(60px,  calc(50% - 0.5em)) !important;
    /* max-height: 60px; */
}


#employee-view-section {
    position: fixed;
    display: flex;
    display: none;
    align-items : center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    gap: 10vh;
    z-index: 10000;
    position: fixed;
    color: black;
}

#general-employee-info {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 2em;
}

#general-employee-info p {
    font-size: clamp(12px, 0.9rem, 16px);
}

#employee-view-section h3 {
    font-size: clamp(15px, 1.4em, 23px);
    text-align: center;
    margin-bottom: 1em;
}

#general-employee-info div,
.experience-view div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#close-employee-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

.experience-view {
    margin-left: 20px;
    margin-top: 15px;
}
.experience-view div {
    gap: 0.5em;
}
#employee-profile-photo {
    border-radius: 50%;
    width: 5em;
    height: 5em;
    margin-left: 40%;
    margin-bottom: 20px;
    border: 1.5px solid black;
}
.employee-info-values,
.experience-view-values{
    color: rgb(115, 109, 109);
    font-size: clamp(12px, 0.9rem, 16px);
}

.view-employee-experiecnes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience-view{
    width: min(300px, 90%);
}

#room-popup-section {
    position: fixed;
    /* display: flex; */
    display: none;
    align-items : center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    gap: 10vh;
    z-index: 10000;
    position: fixed;
    color: black;
}

#room-popup,
#view-info{
    width: clamp(320px, 50vw, 500px);
    max-height: 80vh;
    /* min-height: 60vh; */
    border: 2px solid black;
    border-radius: 15px;
    overflow-y: scroll;
    padding: 1em;
    backdrop-filter: blur(20px);
    overflow-y: auto;
    background-color: #f5f5f5;
}

#room-popup h3 {
    text-align: center;
    margin-bottom: 1.2em;
    font-size: 1.7rem;
}

#confirm-cancel-rooms {
    margin-top: 1em;
}

.selected-employee {
    /* background-color: red; */
    border: 3px solid rgb(8, 102, 133);
}


@media screen and (max-width: 1023px) {
    .rooms-container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
    #reception-room {
        grid-column: 6 / 9;
        grid-row: 1 / 5; 
    }
    
    #conference-room {
        grid-column: 1 / 6;
        grid-row: 1 / 5; 
    }
    
    #server-room {
        grid-column: 1 / 4;
        grid-row: 7 / 10; 
    }

    #security-room {
        grid-column: 1 / 4;
        grid-row: 10 / 13; 
    }

    #staff-room {
        grid-column: 6 / 9;
        grid-row: 7 / 10; 
    }

    #archive-room {
        grid-column: 6 / 9;
        grid-row: 10 / 13;
    }
    .employee-room-card {
        max-height: 50px;
        max-width: 70px;
    }
}

@media screen and (max-width : 767px) {
    body {
        grid-template-columns: 1fr;
    }
    h4{
        font-size: 12px !important;
    }
}

@media screen and (max-width : 630px) {
     .employee-room-card {
        flex: 0 0 calc(50% - 0.5em);  /* 2 per row */
        max-width: min(50px,  calc(50% - 0.5em));;
        max-height: 45px;
    }
}